<!--COMO CHEGAR-->
<div id="team" class="text-center">
    <div class="container">
      <div class="col-md-8 col-md-offset-2 section-title">
        <h2>Como Chegar</h2>
        <p>Endereço:

          R. Deli Tabchoury, 305 – Parque Sr. do Bonfim
          Taubaté-SP</p>
        <p>Nós da Orla tomamos todas as medidas sanitárias e de segurança, dispomos de um local adequado para
          recebê-lo (a).</p>
      </div>
      <div class="map-responsive" >
        <iframe
          src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3671.678081072479!2d-45.60258558539717!3d-23.035589248270124!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x94ccf86d0e6efbe1%3A0x306d59455e141ff6!2sUniformes%20Orla%20Personalizado%20Industriais!5e0!3m2!1spt-BR!2sbr!4v1625848728829!5m2!1spt-BR!2sbr"
          width="900" height="500" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
      </div>




    </div>
  </div>

