<header id="header">
    <div class="intro">
      <div class="overlay">
        <div class="container">
          <div class="row">
            <div class="col-md-8 col-md-offset-2 intro-text">
              <h1> Orla Uniformes<span></span></h1>
              <p>Temos a solução em uniformes para sua empresa. São mais de 30 anos de experiência oferecendo qualidade
                e eficiência ao mercado..</p>
              <a href="#features" class="btn btn-custom btn-lg page-scroll">Saiba Mais</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </header>