<!--SOBRE NÓS-->
<div id="about">
    <div class="container">
      <div class="row">
        <div class="col-xs-12 col-md-6"><img src="./assets/images/sample_logo.jpeg" class="img-responsive"
            alt="website template image"></div>
        <div class="col-xs-12 col-md-6">
          <div class="about-text">
            <h2>Quem Somos</h2>
            <p>A Orla é uma empresa familiar, presente no mercado há mais de 30 anos.Com todos esses anos de
              experiência, somos a empresa certa para você.</p>
            <p> Fundada em 1990, a Orla é uma empresa especializada na criação, desenvolvimento e confecção de uniformes
              para uso diário. Os uniformes são direcionados para empresas, comércios, promoções e eventos.
              Personalizamos os uniformes conforme o clima e o ambiente de trabalho, tornando nosso produto agradável de
              se usar.</p>
            <p> Temos preços especiais para os uniformes da sua empresa ou escola, estampamos epi’s e fazemos máscaras
              de proteção personalizadas. Entre em contato conosco pelo telefone: <strong>(12) 99613-9215 /
                (12)3631-5641 </strong> ou solicite um orçamento aqui pelo e-mail:<strong> contato@orlauniformes.com.br
              </strong> que prontamente entraremos em contato.</p>
            <h3>Por que escolher a Orla?</h3>
            <div class="list-style">
              <div class="col-lg-6 col-sm-6 col-xs-12">
                <ul>
                  <li>Atendimento Personalizado</li>
                  <li>30 anos de Experiência</li>
                  <li>Cortes e Costura de Qualidade</li>
                  <li>Satisfação Garantida</li>
                </ul>
              </div>

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
