<!DOCTYPE html>
<html lang="pt">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <title>Orla Uniformes Personalizados (Main-Layout)</title>
</head>
<body class="container">
    <!-- main-layout.component.html -->
<header>
    <!-- cabeçalho -->
    <app-header></app-header>
  </header>
  
  <main>
    <app-home></app-home>
  </main>
  
  <footer>
    <!-- rodapé -->
    <app-footer></app-footer>
  </footer>
  
</body>
</html>