 <!--NOSSOS PROCESSOS-->
 <div id="testimonials">
    <div class="container">
      <div class="section-title text-center">
        <div>
          <h2 class="mb-3  text-center">Nossos Processos</h2>
          <div class="text-left ">


            <p> <strong>Bordado Computadorizado:</strong> Processo eletrônico, no qual a logomarca é desenvolvida em um
              software específico.
              Seu custo varia de acordo com o tamanho do desenho por contagem de pontos.
              O Bordado Computadorizado dá ao uniforme mais beleza e sofisticação.</p>
            <p><strong>Silkscreen:</strong> Sistema de impressão por meio químico, em que a logomarca é aplicada no
              tecido, utilizando tinta própria.
              Este tipo de aplicação é empregado no caso de grandes quantidades.
              É o sistema que tem o menor custo e melhor eficiência.</p>
            <p><strong>Sublimação (Transfer-Processo Térmico):</strong> Processo de transferência térmica que emprega
              corantes especiais, sensíveis ao calor que penetram na superfície do substrato tingindo-o permanentemente.
              Produzimos estampas exclusivas de grandes formatos, com alta fidelidade de cores, grande precisão de
              imagens
              e com baixo custo para impressões de grandes tiragens.
              Indicado para abadás, bandanas, camisetas esportivas, promocionais, entre outros.</p>
            <br>

          </div>
          <div>
            <h3> Materiais Utilizados</h3>
          </div>
          <div class=" text-left ">


            <p> <strong>Flame Retardant:</strong> Indicado para trabalhadores expostos a grandes riscos.</p>
            <p><strong>Antimicrobial:</strong> Este tecido inibe a proliferação de microorganismos;</p>
            <p><strong>Stain Repellent:</strong> Ideal para ambientes com forte presença de água, graxa e óleo,
              dificultando a aderência dessas substâncias;</p>
            <p><strong>Antistatic: </strong> Sua principal finalidade é inibir a formação de carga eletrostática,
              evitando risco de ignição por faísca;
              <p><strong>Chemical Agents Repellent: </strong> Proteção eficaz contra agentes químicos tais como ácidos e
                álcalis, entre outros.
                <br><br><br>
                <p>Entre as peças que são produzidas estão: Calças com Elástico e com Cós, Bermudas, Camisas de Malha,
                  Polo, Camisas de Manga Longa, Macacão, Jaleco Fechado e Aberto, Jaqueta, Avental, Guarda-Pó.</p>

          </div>

        </div>