 <!-- O QUE OFERECEMOS-->
 <div id="features" class="text-center">
    <div class="container">
      <div class="col-md-10 col-md-offset-1 section-title">
        <h2>O que Oferecemos:</h2>
      </div>
      <div class="row">
        <div class="col-xs-6 col-md-3"><img class="sample-image" src="./assets/images/sample_coat.jpeg">
          <h3>Jalecos</h3>
        </div>
        <div class="col-xs-6 col-md-3"><img class="sample-image" src="./assets/images/sample_pants.jpeg">
          <h3>Calças</h3>
        </div>
        <div class="col-xs-6 col-md-3"><img class="sample-image" src="./assets/images/sample_shirt.jpeg">
          <h3>Camisa</h3>
        </div>
        <div class="col-xs-6 col-md-3"><img class="sample-image" src="./assets/images/sample_social.jpeg">
          <h3>Social</h3>
        </div>
      </div>
      <br>
      <h3>Nosso Diferencial</h3>
      <p>Nossos uniformes possuem acabamento reforçado com costura tripla, que não se desmancham. Desenvolvemos
        uniformes com modelagem e acabamentos diferenciados segundo as especificações de sua empresa. Diferencie-se com
        os uniformes Orla! Temos um sistema de produção flexível, é você quem escolhe a quantidade de peças a serem
        confeccionadas para reposição.</p>
    </div>
  </div>