<!--NOSSOS SERVIÇOS-->
<div id="services" class="text-center">
    <div class="container">
      <div class="section-title">
        <h2>Nossos Serviços</h2>
        <p>Trabalhamos no desenvolvimento dos projetos, com diferentes propostas e estilos, fazendo análise e seguindo a
          programação visual, cores e padronagens da sua empresa, propondo alterações sempre que necessárias. Utilizamos
          peça piloto para a apresentação da proposta e oferecemos à sua empresa garantia de qualidade e bom
          atendimento.</p>
          <br><br>
          <h3> Atualmente Confeccionamos: </h3>
          <p class="text-left">Uniformes: Industriais, para Escritório, Militares, para Hotéis e Restaurantes,
            Logísticos, Hospitalares e para Comércio em geral;</p>
          <p class="text-left"> Jalecos para profissionais da saúde;</p>
          <p class="text-left"> Camisas comemorativas e/ou promocionais; </p>
          <p class="text-left"> Abadás para sua festa; </p>
          <p class="text-left"> Máscaras laváveis de proteção contra Covid-19; </p>

        


      </div>
    </div>
  </div>
  <br><br><br> <br>